.container {
    max-width: 800px;
    min-height: 100vh;
    
    margin: 0 auto;

    text-align: center;


    background-color: #ffffff;
}

.black{
    background-color: #2a2828;
    color: #272626;
    height: 10px;
    width: 240px;
    
    
}

/*img{
    display: block;
    max-width: 100%;
    
    margin: 0 auto;
}*/

body {
    background: #e6e6e6;
}

.fff{

}

.phone {
    font-weight:bold;
    font-size: 15px;
    font-family: arial;
}

.title-1 {
    color:rgb(213, 202, 156);
    font-weight: bold;
    font-size: 30px;
    font-family: arial;

    margin-top: 10px;
    margin-bottom: 10px;
    
}

.title-2 {
    color:rgb(213, 202, 156);
    font-weight: bold;
    font-size: 15px;
    font-family: arial;
    text-transform: uppercase;
}

p {
    font-size: 17px;

    margin: 20px 40px;

    line-height: 24px;
}
p1 {
    font-size: 17px;

    margin: 40px 80px;
    

    line-height: 24px;
}




.location {
    font-size: 20px;

    margin-top: 40px;
    margin-bottom: 60px;

    line-height: 32px;
    
}